.app-header {
    background-color: var(--clr1);
    color: var(--clr2bg-light);

    .progress-bar {
        position: relative;
        padding-block: 0.2em;
        min-height: 1.3em;
        background-color: black;
        text-align: center;

        .percentage {
            position: absolute;
            inset: 0;
            z-index: 2;
        }

        .done-bar {
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            background-color: rgb(0, 51, 255);
            height: 100%;

            background-image: url("/assets/img/bar\ image.svg");
            background-size: cover;
            background-attachment: local;
            background-position: center;
            background-repeat: no-repeat;

            transition: width 1s ease-in-out;
        }
    }

}

.header-container {
    display: flex;
    align-items: center;

}

.header-container h1 {
    flex-grow: 1;
}

.app-nav {
    display: flex;
    gap: 15px;
}


a.active {
    color: rgb(241, 212, 241);
    font-weight: 600;
    text-decoration: underline;
}


@media (max-width: 720px) {
    .app-header {
        color: var(--clr2bg-light);
    }
}