.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
    margin-block-end: 1em;

    button {
        margin: 0;

        &.gap {
            padding-inline: 0;
        }

        &.active {
            font-weight: bold;
            background-color: var(--btnOutlineColor1);
        }
    }
}

@media (min-width: 750px) {
    .pagination {

        button {
            &.gap {
                padding-inline: 0.5em;
            }
        }
    }
}