button,
.btn {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: 0.5em;
    border: 0;
    padding: 0.5em 0.8em;
    border-radius: 4px;

    background-color: inherit;
    outline: var(--btnOutlineColor1) solid 1px;

    &:disabled {
        cursor: auto;
    }

    &.login-signup-btn {
        min-width: 100px;
    }

    &.filter-btn {
        border-radius: 100vh;
    }

    &.signup,
    &.login {
        font-weight: bold;
        font-size: 1em;
        margin-block-end: 1em;
        color: white;

        &:hover {
            filter: brightness(1.2);
        }
    }

    &.signup {
        background-color: var(--signupBgClr);
    }

    &.login {
        background-color: var(--loginBgClr);
    }

    &.close-btn {
        width: 30px;
        font-weight: bold;
        aspect-ratio: 1/1;
    }

    &.login-signup-btn {
        border-radius: 100vh;
        padding: 0.7em;
    }

    &.action {
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: end;
        padding: 0.5em;
        border-radius: 50%;
        background-color: inherit;
    }

    &:hover:not(:disabled) {
        filter: drop-shadow(1px 1px 1px var(--btnOutlineColor1));
    }

    &.get-start {
        background-color: var(--signupBgClr);
        color: white;
        border-radius: 100vh;
        margin: 0;
    }
}

button:hover,
.btn:hover {
    transition: 0.3s;
}

select,
input {
    outline: 1px solid var(--btnOutlineColor1);
    border-radius: 5px;
    border: none;
    padding: 0.5em;
}

select {
    width: 100%;
}

.input-color {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: none;
    padding: 0;

    width: 35px;
    height: 35px;
    border-radius: 50%;

    outline: 2px solid black;
    cursor: pointer;

    &::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    &::-webkit-color-swatch {
        border: none;
        border-radius: 50%;
    }

    &::-moz-color-swatch {
        border: none;
        border-radius: 50%;
    }


}