.todo-list {
    padding: 15px 0 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;

    li {
        display: grid;
        grid-template-columns: 1fr max-content;
    }
}


