button,
.btn {
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin: 0.5em;
    border: 0;
    padding: 0.5em 0.8em;
    border-radius: 4px;

    &.close-btn,
    &.mobile-nav-switch-btn,
    &.login-signup-btn {
        outline: var(--btnOutlineColor1) solid 1px;
    }

    &.signup,
    &.login {
        font-weight: bold;
        font-size: 1em;
        margin-block-end: 1em;
        color: white;

        &:hover {
            filter: brightness(1.2);
        }
    }

    &.signup {
        background-color: var(--signupBgClr);
    }

    &.login {
        background-color: var(--loginBgClr);
    }

    &.close-btn {
        width: 30px;
        font-weight: bold;
        aspect-ratio: 1/1;
    }

    &.login-signup-btn {
        border-radius: 100vh;
        padding: 0.7em;
    }

    &.action {
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: end;
        padding: 0.5em;
        border-radius: 50%;
    }
}

button:hover,
.btn:hover {
    transition: 0.3s;
}

input {
    outline: 1px solid var(--btnOutlineColor1);
    border-radius: 5px;
    border: none;
    padding: 0.5em;
}